@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5dc; /* Un fondo color crema/beige */
  color: #4a2c2a; /* Un color café oscuro para el texto */
  font-family: 'Georgia', serif; /* Una fuente con serifa para un toque clásico */
}

/* Animación de zoom para la imagen de fondo */
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.animate-zoom-in {
  animation: zoomIn 15s ease-in-out infinite alternate;
}

/* Clase para el fondo de textura de madera */
.bg-wood-pattern {
  background-image: url('/images/madera-fondo.jpg');
  background-repeat: repeat; /* Hace que la imagen se repita como un patrón */
}